*{
    margin: 0;
    padding: 0;
}


.m-container{
    height: 90%;
    width: 90%;
    padding: 10px;
    margin: auto;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
}


.box{
    height: 25vh;
    width: 25%;
    font-size: 5rem;
    font-weight: bolder;
    background-color: cadetblue;
    color: black;
    
    
    
}

.g-container{
    height: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;

}

.reset-btn{
    padding: 10px;
    border-radius: 1rem;
    background-color: black;
    color: white;
    font-weight: bolder;
    border: none;
}

.msg{
    background-color: brown;
    text-align: center;
    font-size: 3rem;
    font-weight: bolder;
    padding: 10px;
    color: white;
    
}

.hide{
    display: none;
}
.new-btn{
    padding: 5px;
    border-radius: 1rem;
    background-color: black;
    color: white;
    font-weight: bolder;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.g-heading{
    font-weight: bolder;
    font-size: 3rem;
}
@media only screen and (max-width: 600px) {
    
    .msg{
        background-color: chocolate;
       
    text-align: center;
    font-size: 1rem;
    font-weight: bolder;
    padding: 5px;
    color: white;
    }

    .g-heading{
        font-size: 1rem;
        margin: 5px;
    }
    .box{

        height: 20vh;
        width: 30%;
        font-size: 3rem;
        font-weight: bolder;
        background-color: cadetblue;
        color: black;
         
    }

    .new-btn{
        padding: 3px;
        border-radius: 0.5rem;
        background-color: black;
        color: white;
        font-weight: 700;
        margin-top: 10px;
    }
}
